.forgot-password-root{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.forgot-password--img{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 275px;
    z-index: -1;
}

.forgot-password-body{
    background: var(--color-bg-neutral);
    font-family: var(--font-family);
    border-radius: .25rem;
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.08);
}

.forgot-password-email-error{
    color: red;
}

.forgot-password-row{
    min-width: 470px;
    max-width: 470px;
    max-height: 170px;
    margin-top: 200rem;
}

.forgot-password-submit{
    display: flex;
    justify-content: space-around;
}

.forgot-password-btn-submit{
    margin-left: 1rem;
}