.Drawer-main{
    z-index: 1;
    position: relative;
    /* vertical shadow */
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.04);
}

.Drawer-logo{
    display: flex;
    align-items: center;
    height: 65px;
}

.Drawer-logo img{
    margin-left: 1rem;
    width: 40px;
    height: 40px;
}

.Drawer-logo h4{
    color: var(--color-primary-default);
    margin-bottom: 0;
    margin-left: .5rem;
}