
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --font-family: 'Montserrat', sans-serif;
  --gradient-text: linear-gradient(90deg, #00BCD4 0%, #FAD367 100%);
  --gradient-bar: linear-gradient(90deg, #00BCD4 0%, #FAD367 100%);
  
  --color-bg:#040C18;
  --color-footer:#031B34;
  --color-blog:#042C54;
  --color-text:#81AFDD;
  --color-subtext:#FF8A71;

  --color-bg-neutral: #F6F8FB;
  --color-neutral-white: #FFFFFF;
  --color-primary-default: #336CFB;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* always shows vertical scrollbar so taht the sreen doesnt offset on vertical expansion */
  /* overflow-y: scroll;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



